.transition-smooth {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideUpFadeScale {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        transform: translateY(100);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up-fade {
    animation: slideUpFadeScale 0.3s ease-out 1;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 0.3s ease-in-out 1;
}

@keyframes fadedOut {
    0% {
        opacity: 1;
        display: block;
    }

    90% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.progress-faded-out {
    display: none;
    animation: fadedOut 1.1s ease-out 1;
}