.text-primary\/10 {
    color: rgb(var(--primary-rgb) / 0.1);
}

.text-primary\/20 {
    color: rgb(var(--primary-rgb) / 0.2);
}

.text-primary\/30 {
    color: rgb(var(--primary-rgb) / 0.3);
}

.text-primary\/40 {
    color: rgb(var(--primary-rgb) / 0.4);
}

.text-primary\/50 {
    color: rgb(var(--primary-rgb) / 0.5);
}

.text-primary\/60 {
    color: rgb(var(--primary-rgb) / 0.6);
}

.text-primary\/70 {
    color: rgb(var(--primary-rgb) / 0.7);
}

.text-primary\/80 {
    color: rgb(var(--primary-rgb) / 0.8);
}

.text-primary\/90 {
    color: rgb(var(--primary-rgb) / 0.9);
}

.text-primary\/100 {
    color: rgb(var(--primary-rgb) / 1);
}

/* Background */
.bg-primary\/10 {
    background-color: rgb(var(--primary-rgb) / 0.1);
}

.bg-primary\/20 {
    background-color: rgb(var(--primary-rgb) / 0.2);
}

.bg-primary\/30 {
    background-color: rgb(var(--primary-rgb) / 0.3);
}

.bg-primary\/40 {
    background-color: rgb(var(--primary-rgb) / 0.4);
}

.bg-primary\/50 {
    background-color: rgb(var(--primary-rgb) / 0.5);
}

.bg-primary\/60 {
    background-color: rgb(var(--primary-rgb) / 0.6);
}

.bg-primary\/70 {
    background-color: rgb(var(--primary-rgb) / 0.7);
}

.bg-primary\/80 {
    background-color: rgb(var(--primary-rgb) / 0.8);
}

.bg-primary\/90 {
    background-color: rgb(var(--primary-rgb) / 0.9);
}

.bg-primary\/100 {
    background-color: rgb(var(--primary-rgb) / 1);
}

/* Border */
.border-primary\/10 {
    border-color: rgb(var(--primary-rgb) / 0.1);
}

.border-primary\/20 {
    border-color: rgb(var(--primary-rgb) / 0.2);
}

.border-primary\/30 {
    border-color: rgb(var(--primary-rgb) / 0.3);
}

.border-primary\/40 {
    border-color: rgb(var(--primary-rgb) / 0.4);
}

.border-primary\/50 {
    border-color: rgb(var(--primary-rgb) / 0.5);
}

.border-primary\/60 {
    border-color: rgb(var(--primary-rgb) / 0.6);
}

.border-primary\/70 {
    border-color: rgb(var(--primary-rgb) / 0.7);
}

.border-primary\/80 {
    border-color: rgb(var(--primary-rgb) / 0.8);
}

.border-primary\/90 {
    border-color: rgb(var(--primary-rgb) / 0.9);
}

.border-primary\/100 {
    border-color: rgb(var(--primary-rgb) / 1);
}