/* From Uiverse.io by MikeAndrewDesigner */
.e-card {
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 900px;
    height: 1200px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -55%;
    margin-top: -55%;
    background: linear-gradient(744deg, #af40ff, #6a55f5 60%, #68f5ff);
}

.name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 45%;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg-login {
    background-image: var(--bg-login);
}

@property --gradient-y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10%;
}

/* Light Theme */
.animated-bg {
    background: radial-gradient(125% 125% at 50% var(--gradient-y),
            #fff 40%,
            #7c3aed 100%);
    --gradient-y: 90%;
    animation: moveToBottom 1s ease-out forwards;
}

/* Dark Theme */
.dark .animated-bg {
    background: radial-gradient(125% 125% at 50% var(--gradient-y),
            #1e1b4b 40%,
            #0f172a 100%);
    --gradient-y: 10%;
    animation: moveToTop 1s ease-out forwards;
}

@keyframes moveToBottom {
    from {
        --gradient-y: 10%;
    }

    to {
        --gradient-y: 90%;
    }
}

@keyframes moveToTop {
    from {
        --gradient-y: 90%;
    }

    to {
        --gradient-y: 10%;
    }
}

.switch-theme {
    font-size: 0.8rem;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.2em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch-theme input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: inset -1px -1px 3px 1px var(--primary);
    transition: 0.4s;
    border-radius: 30px;
    overflow: hidden;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.5em;
    bottom: 0.5em;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
    box-shadow: inset 8px -4px 0px 0px var(--primary);
}

.switch-theme input:checked+.slider {
    background-color: transparent;
    box-shadow: inset 0px 0px 4px 1px white;
}

.switch-theme input:checked+.slider:before {
    transform: translateX(1.8em);
    box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    width: 5px;
    transition: all 0.4s;
    height: 5px;
}

.star_1 {
    left: 2.5em;
    top: 0.5em;
}

.star_2 {
    left: 2.2em;
    top: 1.2em;
}

.star_3 {
    left: 3em;
    top: 0.9em;
}

.switch-theme input:checked~.slider .star {
    opacity: 0;
}

.cloud {
    width: 3.5em;
    position: absolute;
    bottom: -1.4em;
    left: -1.1em;
    opacity: 0;
    transition: all 0.4s;
}

.switch-theme input:checked~.slider .cloud {
    opacity: 1;
}