/* From Uiverse.io by MikeAndrewDesigner */
.e-card {
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 900px;
    height: 1200px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -55%;
    margin-top: -55%;
    background: linear-gradient(744deg, #af40ff, #6a55f5 60%, #68f5ff);
}

.name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 45%;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg-login {
    background-image: var(--bg-login);
}

@property --gradient-y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10%;
}

/* Light Theme */
.animated-bg {
    background: radial-gradient(125% 125% at 50% var(--gradient-y),
            #fff 40%,
            #7c3aed 100%);
    --gradient-y: 90%;
    animation: moveToBottom 1s ease-out forwards;
}

/* Dark Theme */
.dark .animated-bg {
    background: radial-gradient(125% 125% at 50% var(--gradient-y),
            #1e1b4b 40%,
            #0f172a 100%);
    --gradient-y: 10%;
    animation: moveToTop 1s ease-out forwards;
}

@keyframes moveToBottom {
    from {
        --gradient-y: 10%;
    }

    to {
        --gradient-y: 90%;
    }
}

@keyframes moveToTop {
    from {
        --gradient-y: 90%;
    }

    to {
        --gradient-y: 10%;
    }
}